---
title: "GPU-Accelerated Simulation"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: "/assets/images/mux.gif"
  actions:
    - label: "Sign up for the beta"
      url: "https://docs.google.com/forms/d/e/1FAIpQLSc-sFoI4DtzdZv3xnzq59CgTMIMrStHoN90oOEduG_qL3qCJg/viewform?usp=pp_url"
excerpt: "Photonic FDTD simulation at world-leading speeds. Open-source. No license fees."

jesse:
  - image_path: /assets/images/jesse_headshot.png
    alt: "Jesse Lu"
    title: "Jesse Lu"
    excerpt: "Photonic inverse design pioneer with experience at YouTube, Google Research, and Google X. Excited to lead the charge at SPINS. [Thesis](http://web.stanford.edu/group/nqp/jv_files/thesis/Jesse-thesis.pdf) [Google Scholar](https://scholar.google.com/citations?user=zYN5iqMAAAAJ&hl=en)"

jelena:
  - image_path: assets/images/jelena_headshot.png
    alt: "Jelena Vuckovic"
    title: "Jelena Vuckovic"
    excerpt: "Stanford EE department chair (current). Jensen Huang professor in global leadership. Leads the Nanoscale and Quantum Photonics Lab. [Website](http://web.stanford.edu/~jela/) [Google Scholar](http://scholar.google.com/citations?user=-afJI14AAAAJ&hl=en)"
---

{% include feature_row id="jesse" type="left" %}

{% include feature_row id="jelena" type="right" %}
